# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old
exchange.log*

# eclipse conf file
.settings
.metadata
.classpath
.project
.manager
.scala_dependencies
RemoteSystemsTempFiles

# idea
.idea
*.iml

# building
target
build
null
tmp*
# temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#SHITTY output not in target directory

generated/
/logs

#mac file system
.DS_Store
